* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #F5F5F5;
}

li {
    list-style: none;
}

i {
    cursor: pointer;
}

.button-primary {
    border: 0px;
    background-color: #9575CD;
    color: #fff;
    padding: 7px 15px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 50%);
    transition: .3s all ease;
}

.button-primary:hover {
    background-color: #c7a4ff;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 90%);
}

header {
    padding: 25px;
    background-color: #9575CD;
    margin-bottom: 20px;
}

.header__notification {
    display: none;
    opacity: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    text-align: center;
    padding: 20px 10px;
    border-radius: 20px;
}

@keyframes fadeIn {
    0% {
        top: -20px;
        opacity: 0;
    }

    10% {
        top: 2px;
        opacity: 1;
    }

    90% {
        top: 2px;
        opacity: 1;
    }

    100% {
        top: -20px;
        opacity: 0;
    }
}

.header__notification--active {
    display: block;
    opacity: 1;
    animation: fadeIn 6s;
}

article {
    width: 1400px;
    min-height: 800px;
    margin: 0 auto;
    display: flex;
}

.navigation {
    width: 20%;
    padding: 20px;
    background-color: #9575CD;
    color: #fff;
    border-right: 1px solid #fff;
    border-radius: 15px 0 0 15px;
}

.navigation__header {
    position: relative;
    margin-bottom: 15px;
}

.navigation__header h3 {
    font-size: 20px;
}

.navigation__project--name {
    cursor: pointer;
}

.navigation__project--name--bold {
    font-weight: bold;
}

.navigation__header--edit {
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer;
}

.navigation-add-btn i {
    font-size: 110%;
}


.navigation__project--remove {
    float: right;
    cursor: pointer;
    transition: .3s ease all;
}

.navigation__project--remove:hover {
    font-weight: bold;
}


.main {
    width: 80%;
    background-color: #65499C;
    color: #fff;
    border-radius: 0 15px 15px 0;
    padding: 40px;
}

.main h2 {
    text-align: center;
}

.main__add-todo {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.main__todo-btn {
    align-self: center;
}

.main__todo-group {
    display: flex;
    flex-direction: column;
}

#main__todo {
    width: 300px;
    padding: 5px;
}

.main__add-todo__selection {
    padding: 5px;
    width: 200px;
}

.main__add-todo__date {
    cursor: pointer;
    padding: 6px;
}

.main__todo-group--priority {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.main__todo-group--priority i {
    padding: 0 5px;
}

.add-todo__priority-num {
    padding: 0 4px;
    font-size: 1.6rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.main__table-head {
    background-color: #422972;
}

tr:nth-child(even) {
    background-color: #9575CD;
}

.main__todolist tr:hover {
    background-color: #c7a4ff;
}

.main__table-priority {
    display: flex;
    align-items: center;
}

.main__table-priority i {
    padding: 0 4px;
}

.main__table__add-todo__priority {
    padding: 0 2px;
}

.main__table__edit {
    text-align: center;
}

.main__table__delete {
    text-align: center;
}

.fa-trash-can {
    transition: .3s ease all;
}

.fa-trash-can:hover {
    color: red;
}

.fa-pencil {
    transition: .3s ease all;
}

.fa-pencil:hover {
    color: black;
}